<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
  </configSections>
  <spring>
    <!--Spring对象容器的配置-->
    <context>
      <resource uri="~/Conf/Context.xml"/><!--主配置文件路径-->
      <resource uri="~/Conf/DbProvider.xml"/>
      <resource uri="~/Conf/Dao.xml"/>
    </context>
  </spring>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>
